Source: wlr-randr
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               meson,
               ninja-build,
               build-essential,
               wayland-protocols,
               libwayland-dev,
Rules-Requires-Root: no

Package: wlr-randr
Architecture: linux-any
Depends: ${misc:Depends},
Provides: wlr-randr
Description: randr for wayland
